# List of "owners" for this repository who are authorized to approve
# and merge code changes.
#
# Key groups:
#
#  @PHOENIX/manifest-gatekeepers
#    is delegated authority to release any component repo to QNX
#
#  @PHX-AOSP/manifest-gatekeepers
#    is delegated authority to integrate any component repo to Android
#

# Some swim-lanes will identify several people who are delegated that
# authority. For example:
#
* @FORD-PHOENIX/phoenix-amf-reviewers
